.root {
    text-align: center;
    -webkit-user-select: none;
    user-select: none;

    li {
        display: inline-block;
        &:not(:last-child) {
            margin: 0px 10px 0px 0px;
        }

        a {
            display: inline-block;
            box-sizing: border-box;
            text-align: center;
            width: 45px;
            line-height: 45px;
            border: 1px solid #fe5f1e;
            border-radius: 30px;
            cursor: pointer;
            color: #fe5f1e;
            transition: 0.3s;
    
            &:hover {
                background: #fe5f1e;
                color: #fff;
            }
        }
    }

    :global {
        .selected a {
            background: #fe5f1e;
            color: #fff;
        }
    }
}