.empty {
    margin: 60px auto;
    max-width: 560px;
    text-align: center;

    h2 {
        font-size: 32px;
        margin-bottom: 10px;
        font-weight: 700;
        display: flex;
        flex-wrap: wrap;
        gap: 15px 5px;
        justify-content: center;
    }

    p {
        font-size: 18px;
        line-height: 145.4%;
        letter-spacing: 0.01em;
        color: #777777;
    }

    icon {
        position: relative;
        top: 2px;
    }

    img {
        display: block;
        width: 300px;
        margin: 45px auto 60px;

        @media (max-width: 424px) {
            width: 250px;
        }
    }

    .button--black {
        padding: 12px 0 14px;
        width: 230px;
        margin: 0 auto;
        font-weight: 600;
        font-size: 18px;
    }
}